body{
	background: rgb(110, 175, 132);
	font-family: Verdana, Helvetica, Arial;
  	font-size: 14px;
}
.container{
	width: 80%;
  	margin: 0 auto;
  	background-color: #FFF;
  	padding: 20px 40px;
  	border: solid 1px black;
  	margin-top: 20px;
}
